.cadastro {
  width: 80%;
  height: 90vh;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  padding: 5% 0;
  gap: 2%;
  white-space: nowrap;
}
.cadastro hr {
  width: 50%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
}

.inserir_dados {
  margin: 2% 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  /* height: 70vh; */
  height: 50%;
  height: 70%;
  /* border: 1px solid red; */
  gap: 10%;
  
}
.inserir_dados label{
    font-size: clamp(.7vw, 1.2rem, 1.5vw);
    font-weight: 700;
    
}

.inserir_dados aside {
  margin: 0 auto;
}
.lado_esq,
.lado_dir {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lado_esq{
    gap: 5%;
    
}

.inserir_dados aside div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* gap: 0.2vw; */
  /* border: 1px solid white; */
}

.secao_inserir {
  /* height: 100%; */
  width: 100%;
  /* border: 1px solid black; */
}

.secao_inserir textarea{
  width: 100%;
  height: 10vh;
  resize: none;
}

.secao_inserir input, .secao_inserir textarea, .opcoes {
  background-color: black;
  padding: 2% 0 2% 2%;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: clamp(1vw, 1.2rem, 2vw);
}

#imagem input{
  width: 100%;
  font-size: .7rem;
}

#item1 {
  width: 100%;
}

#item2::-webkit-outer-spin-button,
#item2::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inserir_dados .lado_esq .list{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.list .secao_inserir input, .list .secao_inserir .opcao{
    width: 100%;
}

#plataforma, #imagem{
    width: 50%;
}

#inline{
    gap: 50px;
}

.cadastro button {
    width: 15%;
    font-size: clamp(1.3vw, 1rem, 3vw);
    height: 10%;
    background-color: transparent;
    border: 2px solid var(--vermelho);
    border-radius: .5vw;
    color: var(--branco);
    transition: .2s ease-in-out;
    padding: 1px 0;
    margin: 2% 0;
}

.cadastro button:hover{
    border: 2px solid var(--branco);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

