.cadastro {
  width: 80%;
  height: 90vh;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  padding: 5% 0;
  gap: 2%;
  white-space: nowrap;
}
.cadastro hr {
  width: 50%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
}

.inserir_dados {
  margin: 2% 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  /* height: 70vh; */
  height: 50%;
  height: 70%;
  /* border: 1px solid red; */
  gap: 10%;
  
}
.inserir_dados label{
    font-size: clamp(.7vw, 1.2rem, 1.5vw);
    font-weight: 700;
    
}

.inserir_dados aside {
  margin: 0 auto;
}
.lado_esq,
.lado_dir {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lado_esq{
    gap: 5%;
    
}

.inserir_dados aside div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* gap: 0.2vw; */
  /* border: 1px solid white; */
}
