.main {
    width: 100%;
}

.banner {
    display: grid;
    grid-template-columns: 1fr .8fr;
    width: 100%;
    padding: 2% 0;
    margin: 5% auto;
    height: clamp(40vw, 60vh, 90vw);
    background: linear-gradient(270deg, #221C2D 44.71%, #282047 100%);
    /* background-color: black; */
    /* align-items: center; */
}


.textos {
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding-top: 13%;
    padding-left: 12%;
}

.textos h1 {
    font-size: clamp(1vw, 2.5rem, 3vw);
}

.textos p {
    font-size: clamp(1vw, 1.6rem, 3vw);
}



.hero {
    width: 55%;
    /* height: 100%; */
    /* padding: 0 5% 0 0; */
    justify-self: flex-end;
    align-self: center;
}

#destaque{
    margin: 200px 0 50px 0;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 60vw;
    justify-self: center;
}

#destaque h2{
    font-size: clamp(1.5vw, 2.5rem, 5vw);
    text-align: center;
    white-space: nowrap;
}

#destaque hr{
    width: calc(100% + 10%);
}
.destaque_hero{
    width: 100%;
}
.destaque_hero div{
    border: 1px solid var(--cinza-branco);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15vw;
    padding: 2% 5%;
}

.destaque_hero div img{
    width: 15.5vw;
}

.destaque_hero article{
    margin: 4% 0;
    text-align: center;
    font-size: clamp(.8vw, 1.4rem, 2vw);
}

@media (max-width: 768px) {}