* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fredoka);
}

:root {

  --vermelho: #FF004C;
  --preto: #0B0616;
  --roxo-acizentado: #221C2D;
  --roxo: #7A3BFF;
  --branco: white;
  --cinza-branco: #D6D2E6;

  --fundo: linear-gradient(270deg, #221C2D 44.71%, #282047 100%);
  --fundo-home: radial-gradient(86.81% 50% at 50% 50%, #362968 0%, #2C224C 32.21%, #221B2F 100%);
}

h1,
h2,
h3,
h4,
p,
span,
input,
select,
option,
button,
label {
  font-family: var(--font-orbitron);
  color: var(--cinza-branco);
}



p,
span,
input,
select,
option,
button,
label,
.href {
  font-family: var(--font-exo2);

}

body {
  background: var(--fundo-home);
  scroll-behavior: smooth;
}

.layout {
  width: 80%;
}

