.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: fit-content; */
    height: 70vh;
    gap: 10%;
    margin: 25% auto;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.titulos h1 {
    font-size: clamp(2vw, 3rem, 5vw);
}

.titulos hr {
    width: 100%;
    height: .1vh;
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
    width: 70%;
}

.filtros input{
    width: 18%;
    height: 5vh;
    font-size: clamp(1vw, 1.2rem, 2vw);
    color: var(--preto);
    font-weight: 600;
    outline: none;
    padding: 1% 0 1% 1%;
    border-radius: .5vw;
}
.filtros .botoes{
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.filtros div button{
    width: 100%;
    white-space: nowrap;
    height: 5vh;
    font-size: clamp(1vw, 1.2rem, 2vw);
    color: var(--preto);
    font-weight: 600;
    outline: none;
    padding: 1% 0 1% 1%;
    border-radius: .5vw;
    transition: .4s ease-in-out;
}

.filtros div button:hover{
    background-color: var(--vermelho);
    cursor: pointer;
}

.lista_jogo{
    /* width: 80%; */
    /* height: 80%; */
    width: 70vw;
    height: clamp(80vw, 90vh, 91vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    
}

.navegacao{
    margin-top: 10vh;
    display: inline-flex;
    width: auto;
    gap: 5%;
    height: 10vh;
}

.navegacao button{
    height: 100%;
    background-color: transparent;
    width: 3vw;

}

.navegacao_botao{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: fit-content;
    
}
.navegacao_botao img{
    
    width: 1.5vw;

}

.navegacao ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
    height: 100%;
    width: 100%;
}

.navegacao ul li{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 2.5vw;
    font-size: clamp(.5vw, 1.5rem, 2vw);
    color: var(--branco);

}

.navegacao ul li, .navegacao button {
    border: 1px solid var(--vermelho);
    border-radius: .2vw;
}

.navegacao ul li:hover, .navegacao button:hover{
    cursor: pointer;
}
